.reddit_app{
  width: 45px;
  margin-left: 23px;
  margin-top: 12px;
}

.youtube_app{
  width: 45px;
  margin-left: 23px;
  margin-top: 12px;
}

.facebook_app{
  width: 45px;
  margin-left: 23px;
  margin-top: 12px;
}

.pinterest_app{
  width: 45px;
  margin-left: 23px;
  margin-top: 12px;
}

.webapps{
  margin-left: 12px;
  margin-top: 15px;
  display: block;
}::::::::::::gvc                                                                      